{% extends 'blog/base.html' %}

{% block content %}

<div class="container verticalnonhero">
	  <h3>Hai dimenticato la Password?</h3>
{% if user.is_authenticated %}
	<dir class="well">
		<p>Sembra che tu abbia gia' effettuato l'accesso, sicuro di voler recuperare la password???</p>
	</dir>

{% endif %}

  <form method="post">
  	<div class="well">
  		<p>Inserisci la mail associata al tuo account e riceverai un link per resettare e reimpostare la password.</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-default">Resetta</button>
	</div>  
  </form>
</div>
{% endblock %}