{% extends 'blog/base.html' %}

{% block content %}
<div class="container verticalnonhero">
	<div class="well">
  <p>
    Abbiamo inviato alla mail che ci ahi appena indicato le istruzioni per il reset della password dell'account associato a quella mail (se ne esiste uno).
    Dovresti riceverla in pochi minuti.
  </p>
  <p>
   Se non ricevi nessuna mail controlla che l'indirizzo indicato sia lo stesso con cui ti sei inscritto al sito, ed eventualmente controlla nella cartella delle spam.
  </p>
</div>
</div>
{% endblock %}