{% extends 'blog/base.html' %}

{% block content %}
<div class="container verticalnonhero">
  {% if validlink %}
    <h3>Cambia la password</h3>
    <div class="well">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn bnt-default">Cambia la password</button>
    </form>
  </div>
  {% else %}
  <div class="well">
    <p>
      Il link per il reset della password non e` valido, probabilmente perche` e` gia` stato usato. 
      Perfavore richiedi di nuovo un reset della password.
    </p>
  </div>
</div>
  {% endif %}
{% endblock %}