{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if filter1.qs %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
        	Nome
          {% render_field filter1.form.fn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Cognome
          {% render_field filter1.form.sn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Anno
          {% render_field filter1.form.year_child class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
{% elif filter0.qs %}
   <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
        	Nome
          {% render_field filter0.form.fn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Cognome
          {% render_field filter0.form.sn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Anno
          {% render_field filter0.form.year_child class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
{% elif filter2.qs %}
      <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
        	Nome
          {% render_field filter2.form.fn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Cognome
          {% render_field filter2.form.sn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Anno
          {% render_field filter2.form.year_child class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
{% elif filter3.qs %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
        	Nome
          {% render_field filter3.form.fn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Cognome
          {% render_field filter3.form.sn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
        	Anno
          {% render_field filter3.form.year_child class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
 {% else %}
  <div> Nessun risultato trovato</div>
{% endif %}
{% if filter1.qs %}
    <h2>Prime scelte</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Data di nascita</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Prima scelta</th>
        <th>Seconda scelta</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
      {% for Inscription in filter1.qs %}
        <tr>
          <td>{{ Inscription.dob_child }}</td>
          <td>{{ Inscription.fn_child }}</td>
          <td>{{ Inscription.sn_child }}</td>
          <td>{{ Inscription.first_choice }}</td>
          <td>{{ Inscription.second_choice }}</td>
          <td><a href="{% url 'inscr_detail' pk=Inscription.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if filter2.qs %}
    <h2>Seconde scelte</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Data di nascita</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Prima scelta</th>
        <th>Seconda scelta</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
      {% for Inscription in filter2.qs %}
        <tr>
          <td>{{ Inscription.dob_child }}</td>
          <td>{{ Inscription.fn_child }}</td>
          <td>{{ Inscription.sn_child }}</td>
          <td>{{ Inscription.first_choice }}</td>
          <td>{{ Inscription.second_choice }}</td>
          <td><a href="{% url 'inscr_detail' pk=Inscription.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if filter0.qs %}
	<h2>Iscrizioni personali</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Data di nascita</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Prima scelta</th>
        <th>Seconda scelta</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
      {% for Inscription in filter0.qs %}
        <tr>
          <td>{{ Inscription.dob_child }}</td>
          <td>{{ Inscription.fn_child }}</td>
          <td>{{ Inscription.sn_child }}</td>
          <td>{{ Inscription.first_choice }}</td>
          <td>{{ Inscription.second_choice }}</td>
          <td><a href="{% url 'inscr_detail' pk=Inscription.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if filter3.qs %}
    <h2>Tutte le iscrizioni</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Data di nascita</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Prima scelta</th>
        <th>Seconda scelta</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
      {% for Inscription in filter3.qs %}
        <tr>
          <td>{{ Inscription.dob_child }}</td>
          <td>{{ Inscription.fn_child }}</td>
          <td>{{ Inscription.sn_child }}</td>
          <td>{{ Inscription.first_choice }}</td>
          <td>{{ Inscription.second_choice }}</td>
          <td><a href="{% url 'inscr_detail' pk=Inscription.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}