{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="about" id="about">
  <div class="container">
    <div class="features_list">
  <form method="POST">{% csrf_token %}
    <div class="well">
      <h4 style="margin-top: 0">Nuova iscrizione</h4>
      <div class="row">
        <div class="form-group col-sm-7 col-md-6">
        	Nome Genitore
          {% render_field form.fn_parent class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
        	Cognome Genitore
          {% render_field form.sn_parent class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
        	Nome Figlio
          {% render_field form.fn_child class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
        	Cognome Figlio
          {% render_field form.sn_child class="form-control" %}
        </div>
      
        <div class="form-group col-sm-7 col-md-6">
          Data di nascita
          {% render_field form.dob_child class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
          Recapito telefonico
          {% render_field form.phone_parent class="form-control" %}
          <p style="font-size: 12px;">Inserisci il prefisso nazionale prima del numero, per l'italia +39</p>
        </div>
        </div>
      <div class="row">
        <div class="form-group col-sm-13 col-md-12">
        	Motivazioni
          {% render_field form.bio_child class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
        	Prima scelta
          {% render_field form.first_choice class="form-control" %}
        </div>
        <div class="form-group col-sm-7 col-md-6">
        	Seconda scelta
          {% render_field form.second_choice class="form-control" %}
        </div>
      </div>
      <button type="submit" class="save btn btn-default">Save</button>
    </div>
  </form>
    </div>
  </div>
</section>
{% endblock %}