{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if inscr.published_date %}
            <div class="date">
                {{ inscr.published_date }}
            </div>
        {% endif %}
        <h2>{{ inscr.fn_child }} {{ inscr.sn_child }}</h2>
        <p>Nome Genitore = {{ inscr.fn_parent }} {{ inscr.sn_parent }}</p>
        <p>Nome Figlio = {{ inscr.fn_child }} {{ inscr.sn_child }}</p>
        <p>Data di nascita = {{ inscr.dob_child }}</p>
        <p>Motivazione = {{ inscr.bio_child }}</p>
        <p>Prima scelta = {{ inscr.first_choice }}</p>
        <p>Seconda scelta = {{ inscr.second_choice }}</p>
        {% if inscr.author %}
            <div class="date">
                {{ inscr.author }}
            </div>
        {% endif %}
    </div>
{% endblock %}