{% extends 'blog/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="about" id="about">
   <div class="container">
      <div class="features_list">
         <h1>Login Richiesto</h1>
         <p> Per poter accedere a questa pagina occorre effettuare il login!</p>
         <p> Se ancora non sei registrato, che aspetti a farlo?! Clicca sul pulsante Registrati e accedi a tutte le funzioni del sito!</p>
         <form method="post">
            <div class="well">
               {% csrf_token %}
               {{ form.as_p }}
               <div style="margin-bottom: 40px;"><button type="submit" class="btn btn-default pull-left"><span class="glyphicon glyphicon-log-in"></span> Login </button>
               <button type="button" class="btn btn-default signup pull-right" > <span class="glyphicon glyphicon-registration-mark"></span> Registrati </button></div>
            </div>
         </form>
      </div>
   </div>
</section>
{% endblock %}