{% extends 'blog/base.html' %}
{% block content %}
	<section class="hero" id="hero">
		<div class="container">
			<div class="caption">
				<h1 class="text-uppercase  animated wow fadeInLeft">vivi l'avventura</h1>
				<p class="text-lowercase  animated wow fadeInLeft"> "Si sa, non e' ancor nato chi goda l'avventura guardando il mondo dietro al buco della serratura" </p>
			</div>			
		</div>
	</section>
	<section class="about" id="about">
		<div class="container">
			<div class="features_list">
			{% for post in posts %}
				<div class="col-sm-4 col-md-4 details animated wow fadeInRight" data-wow-delay="0s">
					{% if post.img %}
					<div class="container"><a class="c1" href="{% url 'post_detail' pk=post.pk %}">
					<img class="pre" src="{{ post.img.url }}" alt="" title="">
					<h1 class="text-uppercase"><a class="c1" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					</div>
					{% endif %}
					{% if not post.img %}
					<h1 class="text-uppercase"><a class="c2" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					{% endif %}
					<p> {{ post.text }} </p>
				</div>
			{% endfor %}	
			</div>

		</div>
	</section>
{% endblock %}
