{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{{ form.media }}
{% block content %}
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modifica la foto</h4>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
        <button type="button" class="btn btn-primary js-crop-and-upload" data-dismiss="modal">Fatto</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Elimina definitivamente il post</h4>
      </div>
      <div class="modal-body">
        <p> Premendo ELIMINA cancellerai definivamente il post senza possibilità di recuperarlo, sei sicuro di voler continuare?</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" data-dismiss="modal" class="btn btn-default ">No</button>
        </div>
        {% if post %}
        <a id href="{% url 'post_remove' pk=post.pk %}"><button type="button" class="btn btn-primary">Si</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


  <div class="container" style="margin-top: 20px;">

      <form method="POST" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        <div class="well">
        <h4 style="margin-top: 0">Nuovo post</h4>
          <div class="flex-row row">
            <div class="form-group col-xs-5 col-sm-4 col-lg-4">
              <div class="row flex-row" style="margin-left: 0px; margin-right: 0px;">
                <h5> Titolo</h5>
                {% render_field form.title class="form-control" %}
         
              </div>
              <div class="row flex-row" style="margin-left: 0px; margin-right: 0px;">
                <h5>Sottotitolo</h5>
                {% render_field form.subtitle class="form-control" %}
              </div>
            </div>
            <div class="form-group col-xs-7 col-sm-8 col-lg-8">
                <h5>Testo</h5>
                {% render_field form.text class="form-control" %} 
            </div> 
          </div>
          <div class="row flex-row" style="margin-bottom: 20px;">
            <div class="form-group col-xs-3 col-sm-5 col-md-4">
                <h5>Immagine</h5>
                {% render_field form.img class="form-control" %}
                {% render_field form.remove_photo %}
                {% render_field form.x %}
                {% render_field form.y %}
                {% render_field form.width %}
                {% render_field form.height %}

                <button type="button" class="btn btn-default js-img-modify" id="mod_butt" style="margin-top: 10px; display: none;">Modifica</button>
                <button type="button" class="btn btn-default js-img-remove" id="rm_butt" style="margin-top: 10px; display: none;">Rimuovi</button>
            </div>
            
            <div class="form-group col-xs-7 col-sm-5 col-md-4">
              <div class="preview" style="display: none; margin: 0 auto; overflow: hidden; width: 300px; height: 400px;"></div>
            </div>
            {% if post.img %}
            <div class="form-group col-xs-6 col-sm-5 col-md-4 old_preview">
              <button type="button" class="btn btn-default js-img-remove-old" style="margin-top: 10px;">Rimuovi immagine</button>  
              <img id="old_preview" src="{{ post.img.url }}" style="max-width: 100%;">
            </div>
            {% endif %}
          </div>
          </div>
          {% if post %}
          <button type="button" class="btn btn-default catastrofe" style="background: #ff807a;float: right;">Elimina Post</button>
          {% endif %}
        <button type="save" class="save btn btn-default " style=" margin-bottom: 20px;">Save</button>
        </div>
      </form>
    </div>  
    
    


{% endblock %}

{% block javascript %}
<script >

    /* SCRIPT PER ELIMINARE IL POST CON POPUP*/
  $(".catastrofe").click(function () {
    $("#modalDel").modal("show");
  });
  $(".js-img-remove-old").click(function () {
    $("#id_remove_photo").val("True");
    $(".old_preview").hide();

  });

</script>
{% endblock %}