{% extends 'blog/base.html' %}
{% block content %}
    <section class="hero" id="hero">
        <div class="container">
            <div class="caption">
                <h1 class="text-uppercase  animated wow fadeInLeft">{{ post.title }}</h1>
            </div>          
        </div>
    </section>
<!--  App Features Section  -->
    <section class="about" id="about">
        <div class="container">
            <div class="features_list">
        <p id="full">{{ post.text|linebreaksbr }}</p>   
        <p id="full">{{ post.approval }}</p>
            </div>
        </div>
    </section>
    <!--  Footer Section  -->
    <footer>
        <div class="container">
            <div class="pull-right">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }} 
            </div>
        {% endif %}
                {% if post.author == request.user and request.user.is_staff %}
                    <a  href="{% url 'post_edit' pk=post.pk %}"><span class="right_icon">Modifica</span></a>
                {% elif request.user.is_superuser %}
                    <a  href="{% url 'post_edit' pk=post.pk %}"><span class="right_icon">modifica</span></a>
                {% endif %}
                <a  href=""><span class="right_icon">{{ post.author }}</span></a>
                <a  href=""><span class="right_icon">{{ post.gruppo }}</span></a>
            </div>
        </div>
    </footer>
    <!--  End Footer Section  -->
{% endblock %}