{% extends 'blog/base.html' %}
{% block extra_head_content  %}
{% if post.img %}
<style>
.hero2{
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: -70px;
    background: url('{{ post.img.url }}') no-repeat fixed center center;   
    background-size: cover;
}
</style>
{% endif %}
{% endblock %}
{% block content %}
{% if post.img %}
    <section class="hero2" id="hero2">
        <div class="container">
            <div class="caption">
                <h1 class="text-uppercase  animated wow fadeInLeft">{{ post.title }}</h1>
            </div>          
        </div>
    </section>
{% endif %}

<!--  App Features Section  -->
    <section class="about" id="about">
        <div class="container">
            <div class="features_list">
                {% if not post.img %}
                    <h1 class="text-uppercase  animated wow fadeInLeft">{{ post.title }}</h1>
                {% endif %}


        <p id="full">{{ post.text|linebreaksbr }}</p>   
        <p id="full">{{ post.approval }}</p>
            </div>
        </div>
    </section>
    <!--  Footer Section  -->
    <footer>
        <div class="container">
            <div class="pull-right">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }} 
            </div>
        {% endif %}
                {% if post.author == request.user and request.user.is_staff %}
                    <a  href="{% url 'post_edit' pk=post.pk %}"><span class="right_icon">Modifica</span></a>
                {% elif request.user.is_superuser %}
                    <a  href="{% url 'post_edit' pk=post.pk %}"><span class="right_icon">Modifica</span></a>
                {% endif %}
                <a  href=""><span class="right_icon">{{ post.author }}</span></a>
                {% if request.user.profile.group %}
                <a  href=""><span class="right_icon">{{ post.gruppo }}</span></a>
                {% endif %}
            </div>
        </div>
    </footer>
    <!--  End Footer Section  -->
{% endblock %}