{% extends 'blog/base.html' %}

{% block content %}
    <section class="about" id="about">
        <div class="container">
            <div class="features_list">
                {% if request.user.registration_date %}
                <div class="date">
                    {{ request.user.registration_date }} 
                </div>
                {% endif %}
                <h1>{{ request.user.username }}</h1>
                <p>Gruppo di appartenenza: {{ request.user.profile.gruppo }}</p>
                <p>Nome: {{ request.user.first_name }}</p>
                <p>Cognome: {{ request.user.last_name }}</p>
                <p>Data di nascita: {{ request.user.profile.birth_date }}</p>
                <p>Email: {{ request.user.email }}</p>
                <a class="btn btn-default" href="{% url 'inscr_list' %}"> Iscrizioni <span class="glyphicon glyphicon-th-list"></span></a><a class="btn btn-default" href="{% url 'logout' %}"> Logout <span class="glyphicon glyphicon-log-out"></span></a>
                <a href="/inscr/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nuova iscrizione</a>
                <a href="{% url 'post_new' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nuovo Post</a>
                <a href="{% url 'place_list' %}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Lista terreni e case per campi</a>
            </div>
        </div>
    </section>
{% endblock %}